name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.11.1

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Check format
        run: yarn fmt:check

      - name: Lint
        run: yarn lint

      - name: Build
        env:
          NEXT_PUBLIC_BASE_URL: https://button.guwino.me
        run: yarn build && yarn export

      - name: Deploy
        if: github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          cname: button.guwino.me
